---
---
@import "{{ site.theme }}";

body {
  background-color: #1e294a;
}

h1 {
  color: #808080;
}
h1 {
  font-size: 2rem;
}
.code {
  color: #5c646e;
}

.code:hover {
  color: #d10fbe;
}
a {
  color: #5c646e;
}
a:hover {
  color: #d10fbe;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
    background-color: transparent;
}
.sticky-header, .scrolled {
    font-size: 1.5rem;
    background-color: transparent;
}


